<div data-controller="article-form">
  <%= render "form", article: @article %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='articles'>
    <%= render @articles %>
  </tbody>
</table>

<br>
